<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SSH key generator</title>
    <link rel="stylesheet" type="text/css" href="./skeleton.min.css">
    <script src="./vue.min.js"></script>
    <style>
      textarea {
        height: 140px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input class="u-full-width" type="text" v-model="path" placeholder="Key output path">
      <input class="u-full-width" type="password" placeholder="Enter Passphrase (Leave empty for none)" v-model="passphrase">
      <button class="u-full-width button-primary" v-on:click="generateKey">Generate ssh Key</button>
      <div v-if="pub_key">
        <textarea class="u-full-width" readonly="" v-model="pub_key"></textarea>
        <button class="u-full-width button-primary" v-on:click="copyToClipboard">Copy To Clipboard</button>
      </div>
    </div>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
